/*---------- Generic Sytles ----------*/
body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #EBE7EE;
}

a:link {
  text-decoration: none;
}

.content {
    min-height: 100vh;
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

.table-text {
    font-weight: 300;
    vertical-align: middle;
}

.table-teamname {
    font-weight: bold;
    font-size: 0.9rem;
}

tr:nth-child(even) {
    background: #E3DEE7;
}

tr:nth-child(odd) {
    background: #C7BDD0;
}

td {
    padding-left: 5px;
}

/*---------- NavBar Items ----------*/
.nav-section {
    background-color: #583973;
}

.navbar-light .navbar-brand {
    color: #EBE7EE;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #EBE7EE;
}

.navbar-brand i {
    font-size: 40px;
}

/*---------- Callout Items ----------*/
.callout-section {
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*---------- Premier League Info / Fixtures Table Items ----------*/
.league-fixture-section {
    position: relative;
    margin-bottom: 50px;
}

.team-fixture-section {
    position: relative;
    margin-top: 25px;
    margin-bottom: 50px;
}

.fixture-table {
    width: 100%;
}

#results-table {
    margin-bottom: 25px;
}

tr.table-header {
    background-color: #583973;
    color: #EBE7EE;
}

.btn-stats {
    background-color: #365C18;
    height: 22px;
    text-align: center;
    padding: 0 4px 0 4px;
    font-size: 14px;
    vertical-align: baseline;
}

.btn-stats:hover,
.btn-stats:focus {
    background-color: #E2062C;
    border-color: #E2062C;
    
}
/*---------- Premier Leagure Table Items ----------*/
#team-info {
    text-align: center;
}

.leaguetable-section {
    position: relative;
    margin-bottom: 50px;
}

.league-table {
    width: 100%;
}

.form-ul {
    margin: 0;
    padding: 0;
}

.form-li-won {
    background-color: #365C18;
}

.form-li-lost {
    background-color: #E2062C;
}

.form-li-draw {
    background-color: gray;
}

.form-li {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    color: #fff;
    height: 18px;
    width: 18px;
    border-radius: 2px;
}

/*---------- Footer Items ----------*/
.footer-section {
    color: #EBE7EE;
    bottom: 0;
    width: 100%;
    background-color: #583973;
}

.email-link {
    color: #EBE7EE;
}

.email-link:hover {
    color: #D8D0DE;
    text-decoration: none;
}

.social-media-link i{
    color: #EBE7EE;
}

/* ---------- Media Queries ---------- */
@media screen and (min-width: 768px) {
    /* Align the booking button to the right of the nav bar */
    #team-info {
        text-align: left;
    }
}