/*---------- Generic Sytles ----------*/
body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #EBE7EE;
}

a:link {
  text-decoration: none;
}

.content {
    min-height: 100vh;
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

.table-text {
    font-weight: 300;
    vertical-align: middle;
}

tr:nth-child(even) {
    background: #E3DEE7;
}

tr:nth-child(odd) {
    background: #C7BDD0;
}

/*---------- NavBar Items ----------*/
.nav-section {
    background-color: #583973;
}

.navbar-light .navbar-brand {
    color: #EBE7EE;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #EBE7EE;
}

/*---------- Callout Items ----------*/
.callout-section {
    position: relative;
}

/*---------- Premier League Info / Fixtures Table Items ----------*/
.league-fixture-section {
    position: relative;
}

.fixture-table {
    width: 100%;
}


/*---------- Premier Leagure Table Items ----------*/
.leaguetable-section {
    position: relative;
}

.league-table {
    width: 100%;
}

.form-ul {
    margin: 0;
}

.form-li-won {
    background-color: #365C18;
}

.form-li-lost {
    background-color: #E2062C;
}

.form-li-draw {
    background-color: gray;
}

.form-li {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    color: #fff;
    height: 18px;
    width: 18px;
    border-radius: 2px;
}

/*---------- Footer Items ----------*/
.footer-section {
    color: #EBE7EE;
    bottom: 0;
    width: 100%;
    background-color: #583973;
}

.email-link {
    color: #EBE7EE;
}

.email-link:hover {
    color: #D8D0DE;
    text-decoration: none;
}

.social-media-link i{
    color: #EBE7EE;
}